body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @font-face {
        font-family: "TextaAlt";
        src: url(./fonts/texta_alt_bold.woff);
      }
    font-family: "TextaAlt", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    
}